<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cadastro_Aluno_Controle.Properties.Settings.ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Banco de Dados2.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Cadastro_Aluno_Controle.Properties.Settings.Banco_de_Dados4ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Banco de Dados4.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Cadastro_Aluno_Controle.Properties.Settings.Banco_de_Dados5ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\Banco de Dados5.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Cadastro_Aluno_Controle.Properties.Settings.Banco_de_Dados3ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Banco de Dados3.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>